* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.2;
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    counter-reset: section 1;
    overflow: hidden;
  }
  body::-webkit-scrollbar {
      display: none;
  }
  
  /*#region UTILITIES */
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .wrap {
      flex-wrap: wrap;
  }

  .grow {
    flex-grow: 1;
  }
  .white {
    color: #fff;
  }
  
  .black {
    background-color: #23272a !important;
    color: white !important;
  }
  
  .fontlarge {
    color: #23272a;
    font-size: 28px;
  }
  
  .align-center {
    align-items: center;
    
  }

  .flex-center {
    justify-content: center;
  }
  
  .flex-end {
    justify-content: flex-end;
  }


  .flex-around {
      justify-content: space-around;
  }
  
  .flex-between {
      justify-content: space-between;
  }
  
  .container {
      max-width: calc(100vw - 40px);
      margin: 0 auto;
  }
  
  .red {
      background-color: red;
      color: white;
  }
  .green {
      color: green;
      
  }
  
  /*#endregion UTILITIES */
  
/*#region General*****/

/*#region Fix fontAwesome font*****/
.fa-solid {
  font-family: sans-serif;
  font-weight: normal;
}  
.fa-solid::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
/*#endregion Fix fontAwesome font*****/

button {
  background-color: transparent;
  color: white;
  border: none;
}




/*#endregion General*****/


  /*#region Header *****/

  header {
    position: fixed;
    right: 0;
    z-index: 1;
  }

  header a {
    text-decoration: none;
    color: white; 
    background-color: rgba(128, 128, 128, 0.35);
    margin: 10px;
    padding: 5px;
    border-radius: 3px
  }

  header a:hover {
    background-color: rgba(255, 255, 255, 0.50);
    color: black;
  }
  header a:focus-within {
    background-color: rgba(255, 255, 255, 0.50);
    color: black;
  }

  /*#endregion End Header *****/  

  
  /*#region grid*****/

  main {
    position: relative;
    padding-top: 50px;
    height: 90vh;
  }


  #grid-container {
    
    column-gap: 10px;
    height: 90vh;
    align-content: flex-start;
    overflow: auto;
    margin-bottom: 20px;

  }

  #grid-container::-webkit-scrollbar {
      display: none;
  }
  section {
    position: relative;
  }


  /*#region Gestione immagini*****/
    #grid-container > section {
    width: calc(100% / 7 - 10px);
    max-width: 100%;
    min-width: 200px ;
    margin-top: 10px;
  }
  section > img {
    width: 100%;
    height: var(width);
    aspect-ratio: 16/9;
  }

  #nick {
    background-color: #000000a4;
    position: absolute;
    bottom: 6px;
    left: 2px;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  /*#endregion Gestione immagini*****/

  /*#endregion grid*****/

  /*#region navigation*****/
  nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    z-index: 1;
    
    background-color: #23272a;

  }

  nav i {
    font-size: 3vh;
    line-height: 0;
    vertical-align: bottom;
  }

  #builder > div > .col {
    margin: 10px
  }

  #end-meet {
    background-color: red;
    margin: 20px 10px;
    padding: 0 8px;
    border-radius: 10px;

  }
  #builder a {
    text-decoration: none;
    color: white;
  }
  #builder > div > button {
    padding: 5px;
    user-select: none;
  }
  #builder > div > button:hover{
    box-shadow: rgba(0, 0, 0, 0.308) 0px 0px 10px;
  }
  #builder > div > button:focus{
    box-shadow: rgba(0, 0, 0, 0.753) 0px 0px 10px;
  }

  #end-meet:hover {
    background-color: rgb(150, 0, 0);
  }

  .fa-angle-up {
    align-self: flex-start;
    justify-self: flex-end;
    font-size: 1rem;
    margin-left: -20px;
    line-height: 0;
    vertical-align: top;
  }

  /*#endregion navigation*****/