* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.2;
    background-color: rgb(0, 0, 0);
  }
  body::-webkit-scrollbar {
      display: none;
  }
  
  /*#region UTILITIES */
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .wrap {
      flex-wrap: wrap;
  }
  .white {
    color: #fff;
  }
  
  .black {
    background-color: #23272a !important;
    color: white !important;
  }
  
  .fontlarge {
    color: #23272a;
    font-size: 28px;
  }
  
  .align-center {
    align-items: center;
    
  }

  .flex-center {
    justify-content: center;
  }
  
  .flex-end {
    justify-content: flex-end;
  }


  .flex-around {
      justify-content: space-around;
  }
  
  .flex-between {
      justify-content: space-between;
  }
  
  .container {
      max-width: calc(100vw - 40px);
      margin: 0 auto;
  }
  
  .red {
      background-color: red;
      color: white;
  }
  .green {
      background-color: green;
      color: white;
  }
  
  /*#endregion UTILITIES */
  
/*#region General*****/

/*#region Fix fontAwesome font*****/
.fa-solid {
  font-family: sans-serif;
  font-weight: normal;
}  
.fa-solid::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 3px;
}
/*#endregion Fix fontAwesome font*****/

/*#endregion General*****/


  /*#region Header *****/

  header i {
    background-color: rgba(128, 128, 128, 0.35);
    margin: 10px;
    padding: 5px;
    border-radius: 3px
  }
  /*#endregion End Header *****/  

  
  /*#region grid*****/

  main {
    padding: 30px 0;

  }

  #grid-container {
    height: 100vh;
    column-gap: 10px;
    align-content: flex-start;
  }
  section {
    position: relative;
  }

  /*#region Gestione immagini*****/
    #grid-container > section {
    width: calc(100% / 4 - 10px);
    margin-top: 10px;
  }
  section > img {
    width: 100%;
    height: auto;
  }

  #nick {
    background-color: #000000a4;
    position: absolute;
    bottom: 1px;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  /*#endregion Gestione immagini*****/



  /*#endregion grid*****/